{% load static %}
<nav class="bg-gradient-to-r from-blue-900 to-indigo-900 p-4 py-3 text-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="flex items-center">
            <img src="{% static 'ingredient_analysis_app/logo.png' %}" alt="Nutricheck Logo" class="w-16 h-16 mr-2 rounded-full">
            <span class="text-xl font-bold tracking-tight">Nutricheck</span>
        </a>
        <div class="flex space-x-6 items-center">
            <a href="{% url 'upload' %}" class="text-gray-200 hover:text-white transition duration-300">Welcome {{ user.username }}</a>
            <a href="{% url 'history' %}" class="text-gray-200 hover:text-white transition duration-300">Analysis History</a>
            <a href="{% url 'upload' %}" class="text-gray-200 hover:text-white transition duration-300">Medical History</a>
            <a href="{% url 'upload' %}" class="text-gray-200 hover:text-white transition duration-300">Allergies</a>
            <a href="{% url 'logout' %}" class="bg-red-600 hover:bg-red-700 text-white font-medium py-2 px-4 rounded transition duration-300">Logout</a>
        </div>
    </div>
</nav>